.DS_Store
input/embeddings/wiki-news-300d-1M.vec
.Rproj.user
src/python/*
models/python/*
predict/python_lstm/*
models/roberta-tweets/*
models/roberta-tweets-2/*
models/roberta-tweets-3-2/*
submissions.zip
Archive.zip
